<div id="masthead" class="container-fluid border-bottom" style="padding-left: 100px;">
  <div class="container">
    <div class="row align-items-center">
      <!-- Faculty logo on the left -->
      <div class="col-md-4 text-left">
        <a href="{{ "https://laboratorij-km.github.io/" }}">
          <img src="{{ "img/logos/lkm-logo.png" | relURL }}" alt="Faculty Logo" class="img-fluid" style="max-height: 100px;">
        </a>
      </div>
  
     <!-- Empty space or optional content -->
     <div class="col-md-4"></div>
  
      <div class="col-md-4 text-right">
          <img src="{{ "img/logos/fri_logo_trans.png" | relURL }}" alt="Faculty Logo" class="img-fluid" style="max-height: 100px;">
      </div>
  
      
    </div>
  
   <!-- Menu positioned below the logos -->
   <div class="row">
    <div class="col-md-12 text-center">
      <nav id="nav" class="navbar navbar-expand-lg navbar-light">
        <!-- <div class="collapse navbar-collapse" id="navbarNav"> -->
          <ul class="navbar-nav ml-auto nav-tabs">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link {{ if $currentPage.IsMenuCurrent .Menu .}}active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        <!-- </div> -->
      </nav>
    </div>
  </div>
  </div>
  
</div>
